.game__wrapper {
  display: flex;
  padding: 180px 50px 50px;
}

#quit-room-btn {
  margin-top: 30px;
}

.leftside {
  width: 40%;
  padding: 20px;
}
.leftside h1 {
  font-size: 30px;
}

.rightside {
  width: 60%;
}

.ready-status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
}

.user__name {  
  font-size: 15px;
  padding-left: 30px;
}

.ready-status-red {
  background-color: red;
}
.ready-status-green {
  background-color: green;
}

.users__list {
  list-style: none;
  margin-top: 30px;
}

.user__info {
  position: relative;
  margin-top: 20px;
}

.user-progress {
  width: 100%;
  height: 20px;
  border: 1px solid black;
  margin-top: 10px;
}

.user__progressbar {
  width: 0%;
  height: 100%;
  background-color: green;
}

.modal__list .user-progress {
  display: none;
}
.gamefield {
  position: relative;
  width: 80%;
  height: 100%;
  border: 1px solid black;
}

#ready-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#timer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(5, 194, 252, 0.50);
  font-size: 100px;
}

.game__text {
  padding: 30px;
}

.mark {
  background-color: #5fad5f;
}

#timer.game__limit {
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  color: red;
  background-color: inherit;
  top: 10px;
  right: 10px;
}

/* Modal */
.modal {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 255, 100, 0.9);
}

.modal__content {
  position: relative;
  z-index: 20;
  width: 300px;
  min-height: 300px;
  padding: 20px;
  background-color: #fff;
}

.modal__content h2 {
  text-align: center;
}

.modal__list {
  list-style-type: none;
}

/* Bot */

.bot {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  height: 400px;
}

.bot__wrapper {
  position: relative;
}

.bot__img {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100px;
}

.bot__img::before {  
  display: block;
  position: absolute;
  left: -50%;
  top: 10px;
  content: '';
  width: 40px;
  height: 30px;
  border-radius: 10px 20px;
  border: 1px solid rgb(5, 194, 252);
}

.bot__img img {
  width: 100%;
  object-fit: cover;  
}



.bot__messages {
  width: 100%;
  min-height: 50px;
  font-style: italic;
  border-radius: 5px;
  border: 1px solid rgb(5, 194, 252);
  background-color: #fff;
  padding: 10px;
  letter-spacing: 1px;
  line-height: 1.5;
}
