#rooms-page {
  margin-top: 50px;
  text-align: center;
}

#add-room-btn {
  margin-top: 30px;
}

.rooms__wrapper {
  margin-top: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.room {
  width: 300px;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

.room.active {
  border: 2px solid rgb(5, 194, 252);
}

.room__title {
  margin-top: 15px;
}

.room__counter {
  font-style: italic;
}

.room__join {
  margin: 15px auto 0;
  
}